.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}
.table {
    border-collapse: collapse;
    border: 22px #3A4965 solid;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #484848;
    font-family: 'Arimo', sans-serif;
}
.table td {
    border: 1px #e5e5e5 solid; /*внутренняя граница*/
}
.left {
    padding: 27px 90px;
}
.top-left {
    font-weight: bold;
    line-height: 28px;
    color: #4a4a4a;
}
.choose {
    font-size: 18px;
    margin-bottom: 0;
}
.prising {
    font-size: 30px;
    margin-top: 0;
    padding: 0;
}
.top {
    color: white;
}
.price span {
    position: relative;
    font-size: 60px;
    line-height: 89px;
}
.price sup {
    font-size: 24px;
}
sup::after {
    position: absolute;
    top: -15px;
    content: '.99';
    width: 40px;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}
.options {
    width: 280px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    padding: 18px 0;
}
.button a{
    width: 195px;
    text-decoration: none;
    padding: 18px 45px;
    color: white;
    border-radius: 6px;
}
.premium {
    background-color: #21807c;
}
.ultimate {
    background-color: #F04A56;
}
.standard {
    background-color: #89C331;
}
.p a{
    background-color: #484848;
}
.s a {
    background-color: #89C331;
}
.u a {
    background-color: #F04A56;
}
.n a {
    background-color: #21807c;
}
.bandwidth,.support, .users{
    background-color: #E3E3E3;
}
.storage, .emails, .products {
    background-color: #F2F2F2;
}
.buttons {
    margin: 29px 29px 0 0;
    line-height: 110px;

}
.buttons a:hover {
    padding: 25px 30px;
    opacity: 0.9;
    font-size: 20px;
    transition: 0.2s;
    background-color: coral;
    border-radius: 40px;
    box-shadow:  8px 8px 3px #dddddd;
}
.options:hover {
    font-size: 30px;
    transition: 0.5s;
    font-weight: bold;
}
